<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="theme-color" content="#0083ef"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Fiscalize - Câmara Legislativa Federal</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="blue lighten-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">AppFiscalize</a> 
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Deputados</h1>
    </div>
  </div>

  <div class="container" id="app">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="tipo-despesa" type="text" v-model="filtro_deputados" v-on:keyup="filtrarDeputados()">
          <label for="tipo-despesa">Pesquise por nome do(a) deputado(a)</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="tipo-despesa" type="text" v-model="filtro_partidos" v-on:keyup="filtrarPartidos()">
          <label for="tipo-despesa">Pesquise por nome do partido</label>
        </div>
        <div class="col s12">
          <div v-if="processando" class="red-text">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
          </div>
        </div>
        <div class="col s12" v-cloak>
          <div v-if="!processando" class="red-text">
            <div class="card orange">
              <div class="card-content white-text">
                <h4 class="center-align">Estatísticas</h4>
                <div class="row center-align">
                  <div class="col s12 m6">
                    <strong>Quantidade de deputados</strong><br>
                    <span>{{quantidade_filtrados}}</span>
                  </div>
                  <div class="col s12 m6">
                    <strong>Quantidade de partidos</strong><br>
                    <span>{{quantidade_partidos}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m3" v-for="bloco in deputados_filtrados" v-if="!processando" v-cloak>
          <div class="card blue-grey">
            <div class="card-content white-text center-align">
              <img :src="bloco.urlFoto" :alt="bloco.nome" style="max-width: 110px">
              <span class="card-title">{{bloco.id}}</span>
              <p class="truncate">{{bloco.nome}}</p>
              <p><strong>Partido: </strong>{{bloco.siglaPartido}}</p>
            </div>
            <div class="card-action">
              <a :href="'deputados_detalhes.html?deputado_id='+bloco.id">Ver mais</a>
              <i class="material-icons right white-text" v-cloak>star_border</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">AppFiscalize</h5>
          <p class="grey-text text-lighten-4">Acompanhe de forma fácil e prática todos os detalhes dispostos pela <a class="white-text" href="http://www2.camara.leg.br/">Câmara dos deputados</a>.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">O que usamos:</h5>
          <ul>
            <li><a class="white-text" href="https://vuejs.org/">VueJS</a></li>
            <li><a class="white-text" href="https://dadosabertos.camara.leg.br/swagger/api.html">Dados abertos da câmara</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Feito com <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="js/funcoes.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="https://unpkg.com/vue@2.4.2"></script>
  <script src="js/deputados.js"></script>
  </body>
</html>
